@import "../node_modules/tinper-bee-core/scss/index.scss";
@import "../src/Button.scss";
@import "../node_modules/bee-layout/build/Layout.css";
@import "../node_modules/bee-panel/build/Panel.css";



.demoPadding{
    button{
        margin: auto 5px;
    }
    .divider{
        margin: 6px 0;
        height: 1px;
        overflow: hidden;
        background-color: #e0e0e0;
    }
}
