@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

//默认 flat 样式.
.u-button {
  background: transparent;
  border: none;
  border-radius: $button-border-radius;
  color: $button-secondary-color;
  position: relative;
  min-width: $button-min-width;
  padding: $button-padding;
  padding: $button-padding-IE8 \9;
  display: inline-block;
  @include typo-button();
  overflow: hidden;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s $animation-curve-fast-out-linear-in,
  background-color 0.2s $animation-curve-default,
  color 0.2s $animation-curve-default;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: $button-line-height;
  vertical-align: middle;
  font-family:$preferred_font;
  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    background-color: $button-active-color;
  }

  &.colored {
    color: $button-primary-color-alt;

    &:focus:not(:active) {
      background-color: $button-focus-color-alt;
    }
  }
  &.disable{
    webkit-box-shadow: none;
    filter: alpha(opacity=65);
    box-shadow: none;
    cursor: not-allowed;
    opacity: .65;
  }
}

input.u-button[type="submit"] {
  -webkit-appearance:none;
}

//Floating bottons
.u-button-floating {
  border-radius: 50%;
  font-size: $button-fab-font-size;
  height: $button-fab-size;
  height: 38px \9;
  margin: auto;
  min-width: $button-fab-size;
  width: $button-fab-size;
  width: 38px \9;
  padding: 0;
  line-height: normal;
  border: 1px solid $button-border-color;

  &.colored {
    background: $button-fab-color-alt;
    color: $button-fab-text-color-alt;

    &:hover {
      background-color: $button-fab-hover-color-alt;
    }

    &:focus:not(:active) {
      background-color: $button-fab-active-color-alt;
    }

    &:active {
      background-color: $button-fab-active-color-alt;
    }
    background: $button-fab-ripple-color-alt;
  }
}

.u-button.disabled, .u-button[disabled] {
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    box-shadow: none;
}

.u-button-default {
    color: #333;
    background-color: #fff;
    border-color: 1px #ccc solid;
    &:hover,&:focus,&:active {
        background-color: #e6e6e6;
        border-color: #adadad;
    }
}
.u-button-accent{
    @include button-styles-variant($button-fab-text-color-alt,$button-fab-color-alt,$button-fab-hover-color-alt);
}
.u-button-primary{
    @include button-styles-variant($button-secondary-color-alt,$button-primary-color-alt,$button-primary-hover-color-alt);
}
.u-button-danger{
    @include button-styles-variant($button-secondary-color-alt,$button-danger-color,$button-danger-hover-color);
}
.u-button-info{
    @include button-styles-variant($button-secondary-color-alt,$button-info-color,$button-info-hover-color);
}
.u-button-warning{
    @include button-styles-variant($button-secondary-color-alt,$button-warning-color,$button-warning-hover-color);
}
.u-button-success{
    @include button-styles-variant($button-secondary-color-alt,$button-success-color,$button-success-hover-color);
}
.u-button-border.u-button-accent{
    @include border-button-styles-variant($button-fab-color-alt,$button-fab-color-alt,$button-fab-color-alt);
}
.u-button-border.u-button-success{
    @include border-button-styles-variant($button-success-color,$button-success-color,$button-success-hover-color);
}
.u-button-border.u-button-warning{
    @include border-button-styles-variant($button-warning-color,$button-warning-color,$button-warning-hover-color);
}
.u-button-border.u-button-danger{
    @include border-button-styles-variant($button-danger-color,$button-danger-color,$button-danger-hover-color);
}
.u-button-border.u-button-info{
    @include border-button-styles-variant($button-info-color,$button-info-color,$button-info-hover-color);
}

.u-button-border.u-button-primary{
    @include border-button-styles-variant($button-primary-color,$button-primary-color,$button-primary-hover-color);
}

.u-button-border{
    color: $button-primary-color;
    border: 1px solid $button-primary-color;
    background-color: #fff;
}
.u-button-border:hover{
    color: white;
    background: $button-hover-color;
}


//大型
.u-button-lg {
    @include button-size($button-padding-y-lg, $button-padding-x-lg, $font-size-lg, $button-border-radius-lg);
}
//特大型
.u-button-xg {

  @include button-size($button-padding-y-xg, $button-padding-x-xg, $font-size-xg, $button-border-radius-xg);
}

//小型
.u-button-sm {
   @include button-size($button-padding-y-sm, $button-padding-x-sm, $font-size-sm, $button-border-radius-sm);
}
//方形按钮
.u-button-squared {
  border-radius: 0;
}

// 圆形按钮

.u-button-round {
  border-radius: 1000px;
}

//按钮充满整行
.u-button-block{
  white-space: normal;
  display: block;
  width: 100%;
}

//与.u-button-round连用创建左半圆
.u-button-pill-left {
  border-radius: 500px 0 0 500px;
}
//与.u-button-round连用创建右半圆
.u-button-pill-right {
  border-radius: 0 500px 500px 0;
}
